html,
body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  background-color: rgb(111 111 111);
}

.App {
  text-align: center;
}

textarea {
  resize: none;
}

.nav {
  padding: 10px;
}

.nav * {
  font-size: 18px;
  margin: 10px;
  text-decoration: none;
  color: black;
}

.active {
  color: red;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.random_fact {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.random_fact_text {
  margin-top: 20px;
}
